# App Configuration
APP_NAME="Atlas Library"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://atlaslibrary.demo.egyitech.com/

# Database
DB_PATH=data/database.sqlite

# Security
# Generate a long random string for production
SECURITY_KEY=base64:7vP7zJv8vP7zJv8vP7zJv8vP7zJv8vP7zJv8vP7zJv8=
CSRF_SECRET=base64:xP9zLw8xP9zLw8xP9zLw8xP9zLw8xP9zLw8xP9zLw8=

# Seeder Credentials
SEEDER_USER=
SEEDER_PASSWORD=
